.logo {
    @include flexLayout;
    font-size: 70px;
    color: $color-primary;
    width: 110px;
    width: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    padding: 20px 0;
    margin-right: 20px;
}

.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles;
}

.sub-name {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyles;
}

.main-heading {
    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $font-josefinSans;
    font-size: 60px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 80px;
    text-align: center;
}

.main-btn {
    width: 170px;
    height: 45%;
    font-family: $font-josefinSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    padding: 10px 8px;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}

.card {
    width: 33.3333%;
    height: 20vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay {
        left: 0;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgba($color-primary, .6);
        color: $color-white;
        z-index: 10;
        @extend %fullSpace;
        @include flexLayout;
        flex-direction: column;
        transition: all .7s ease;

        &-heading {
            font-family: $font-nunito;
            font-size: 50px;
            @include textStyles(capitalize);
        }

        &-parapraph {
            font-family: $font-josefinSans;
            font-size: 30px;
            margin-bottom: 30px;
            @include textStyles(capitalize);
        }

        &-btn {
            width: 150px;
            height: 40px;
            color: $color-primary;
            background-color: $color-white;
            font-family: $font-josefinSans;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid $color-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }

    }

    &-img {
        @extend %fullSpace;
        object-fit: cover;
        opacity: .5;
    }
}